@model KisaanMart.Data.Models.Apps

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Apps</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
