@model KisaanMart.Data.Models.UserMachine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserMachine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPerHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPerHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPerAcre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPerAcre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.user)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.user.UserPhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Machines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Machines.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
