@model KisaanMart.Data.Models.Machine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Machine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineImage)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.MachineImage)*@
            <img style="width:90px;height:90px;" src="@Url.Action("RenderImage", new { id = Model.Id})" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
