@model KisaanMart.Data.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfAcres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfAcres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmountToBePaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmountToBePaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserMachines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserMachines.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.requesteduserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.requesteduserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.behalfuserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.behalfuserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
